body {
    font-family: Arial;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    color: white;
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    font-weight: bold;
}

.card span {
    font-size: 22px;
    color: #2196F3;
}

.charts img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
}

form input, form select {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.prediction {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
